---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/product_card.astro";

const products = await fetch("http://127.0.0.1:8000/products").then((res) =>
	res.json(),
);
---

<Layout title="Sabor Express">
	<main class="min-h-screen font-sans bg-gray-100 text-gray-800 p-4">
		<p>
			Bienvenido a Sabor Express, tu tienda en línea de comida favorita.
		</p>
		<section>
			<h2 class="text-2xl font-bold mb-4">Productos Destacados</h2>
			<div class="flex flex-wrap gap-4 justify-center">
				{
					products.map((product: any) => (
						<ProductCard
							title={product.title}
							description={product.description}
							price={product.price}
							imageUrl={product.imageUrl}
						/>
					))
				}
			</div>
		</section>
	</main>
</Layout>
